<app-header></app-header>

<main class="portfolio-main">
  <app-hero></app-hero>
  <app-popular-experiences></app-popular-experiences>
  <app-available-today-in-paris></app-available-today-in-paris>
  <app-explore-by-mood></app-explore-by-mood>
  <app-guides-by-language></app-guides-by-language>
  <app-paris-escape-originals></app-paris-escape-originals>
  <app-experience-paris></app-experience-paris>
  <app-how-it-works></app-how-it-works>
  <app-travelers-testimonials></app-travelers-testimonials>
  <app-newsletter></app-newsletter>
</main>

<app-footer ></app-footer>
