<aside class="sidebar" [class.collapsed]="collapsed">
  <button class="toggle-btn" (click)="toggle()" aria-label="Toggle sidebar">
    <i class="fas" [class.fa-chevron-left]="!collapsed" [class.fa-chevron-right]="collapsed"></i>
  </button>

  <nav class="sidebar-nav">
    <a
      *ngFor="let item of menuItems"
      [routerLink]="item.route"
      routerLinkActive="active"
      class="nav-item"
      [title]="collapsed ? item.label : ''">
      <i class="fas fa-{{ item.icon }} nav-icon"></i>
      <span class="nav-label" *ngIf="!collapsed">{{ item.label }}</span>
    </a>
  </nav>

  <div class="sidebar-footer">
    <div class="user-info">
      <img *ngIf="userAvatar()" [src]="userAvatar()" class="avatar-img">
      <div *ngIf="!userAvatar()" class="avatar">{{ initials() }}</div>
      <div class="user-details" *ngIf="!collapsed">
        <div class="user-name">{{ userName() }}</div>
        <div class="user-role">Super Admin</div>
      </div>
    </div>
  </div>
</aside>
